.card {
  margin-bottom: 20px;
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
  padding-right:15px;
  /* -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05); */
  /* box-shadow: 0 1px 1px rgba(0,0,0,.05); */
}
.card.card-bordered {
  border: 1px solid #DDD;
}
.card h2 {
  font-size: 25px;
}
.card h3 {
  font-size: 20px;
  font-weight:bold;
  margin-top: 0;
}
.card-row {
  margin-top: 18px;
  margin-bottom: 22px;
}
.card .text-muted {
  color: #9B9B9B;
}
.card small.text-muted {
  font-size: 11px;
}
.card.padded {
  padding: 25px;
}
.card .img-aspect {
  margin-left: -25px;
  margin-right: -25px;
  margin-top: -25px;
}
.card.collection-card .img-aspect {
  position: relative;
  margin-bottom: -25px;
  margin-right: 0;
}
.card.collection-card .img-aspect > h2 {
  position: absolute;
  left: 20px;
  bottom: 10px;
  color: #FFF;
}
.collection-list {
  margin-bottom: 25px;
}
.collection-list li {
  padding: 10px 0;
}
.card.collection-card .pull-bottom {
  position: absolute;
  bottom: 15px;
}
.recipe-card > .row > .detail-column {
  height:290px;
  position: relative;
}
.recipe-card .card-row-sticky-bottom {
  position: absolute;
  bottom: 20px;
  left: 15px;
}