body {
  margin: 0;
  padding: 0;
  padding-top: 60px;
  font-family: 'Lato', 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
  background-color: #F7F7F7;
  color: #4A4A4A;
}
h2 {
  color: #4A4A4A;
  font-family: 'Lato', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 24px;
  font-weight: bold;
}
h4 {
  font-weight: 600;
}
h2.white {
  color: #fff;
}
h4.pink,
h3.pink,
h2.pink,
h1.pink {
  color: #E73D57;
}
.navbar-red {
  background-color: #E73D57;
  border: 0;
  color: #FFF;
  height: 60px;
  padding-top: 8px;
}

.btn-link {
  font-weight: 400;
  color: #E73D57;
  border-radius: 0;
}
a {
  color: #E73D57;
  text-decoration: none;
}
.modal-open .modal {
  margin: auto;
}
.modal.in .modal-dialog {
  width: 100%;
}

.btn-red {
  background-color: #E73D57;
  color: #FFF;
}
.btn-red:hover,
.btn-red:active,
.btn-red:focus {
  color: #f1f1f1;
  background-color: #df203d;
}
.btn-red-hollow,
button.btn.btn-default.btn-red-hollow {
  background-color: #FFF;
  color: #E73D57;
  border: 1px solid #E73D57;
}
.btn-red-hollow:hover,
.btn-red-hollow:active,
.btn-red-hollow:focus,
button.btn.btn-default.btn-red-hollow:hover,
button.btn.btn-default.btn-red-hollow:active,
button.btn.btn-default.btn-red-hollow:focus {
  background-color: #FFF;
  color: #df203d;
  border: 1px solid #df203d;
}
.btn-pill {
  border-radius: 30px;
}
button.btn.btn-default.btn-black,
.btn-black {
  background-color: #000;
}
.has-error button.btn.btn-default.btn-black,
.has-error .btn-black {
  background-color: #333;
  border-color: #d61f3a;
  cursor: not-allowed;
}
button.btn.btn-default.btn-black:hover,
button.btn.btn-default.btn-black:focus,
button.btn.btn-default.btn-black:active,
.btn-black:hover,
.btn-black:focus,
.btn-black:active {
  background-color: #333;
}
button.btn.btn-default.btn-white {
  background-color: #fff;
  border-color: #4A4A4A;
  color: #4A4A4A;
}
button.btn.btn-default.btn-white:hover,
button.btn.btn-default.btn-white:focus,
button.btn.btn-default.btn-white:active {
  background-color: #f1f1f1;
  border-color: #333;
  color: #333;
}
.modal-form {
  margin-top: 15px;
  margin-bottom: 15px;
}

.dropdown-menu>.active>a,
.dropdown-menu>.active>a:focus,
.dropdown-menu>.active>a:hover,
.navbar-inverse .navbar-nav .open .dropdown-menu>.active>a,
.navbar-inverse .navbar-nav .open .dropdown-menu>.active>a:focus,
.navbar-inverse .navbar-nav .open .dropdown-menu>.active>a:hover,
.navbar-inverse .navbar-nav .open .dropdown-menu>li>a:focus,
.navbar-inverse .navbar-nav .open .dropdown-menu>li>a:hover{
  background-color: #d61f3a;
}

.navbar-inverse .navbar-toggle:focus,
.navbar-inverse .navbar-toggle:hover {
  background-color: #df203d;
}
.navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
  color: #FFF;
}
.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:focus,
.navbar-inverse .navbar-nav>.active>a:hover {
  color: #fff;
  background-color: #d61f3a;
}
.bordered {
  border: 1px solid #D4D4D4;
}
.bordered-left {
  border-left: 1px solid #D4D4D4;
}
.bordered-right {
  border-right: 1px solid #D4D4D4;
}
.border-dashed {
  border-style: dashed;
}
.margin-top {
  margin-top: 25px;
}
.margin-bottom {
  margin-bottom: 25px;
}
.margin-top-lg {
  margin-top: 50px;
}
.margin-bottom-lg {
  margin-bottom: 50px;
}
.ratings-summary-parent {
  position: relative;
}
.ratings-summary {
  color: #9B9B9B;
  font-size: 12px;
  position: absolute;
  bottom: 0;
  right: 35px;
  border-radius: 6px 6px 0 0;
  background: #FFF;
  padding: 10px 12px 4px 12px;
  letter-spacing: 1px;
}
.ratings-summary > strong {
  font-size: 16px;
}
.ratings-summary > .fa-star {
  color: #FFC300;
  font-size: 16px;
}
.fade {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.4s linear;
}
.fade-out {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.4s, opacity 0.4s linear;
}
.hover-shadow {
  transition: box-shadow 0.4s ease;
  box-shadow: 0px 0px 0px rgba(0,0,0,0.2);
}
.hover-shadow:hover {
  box-shadow: 10px 8px 18px rgba(0,0,0,0.1);
}
.dark-overlay {
  width:100%;
  height:100%;
  position:absolute;
  top:0;
  left:0;
  background-color:#000;
  opacity:0.4;
}
@media (max-width: 767px) {

}
