.reset-password-card > div:nth-child(2) {
    padding-right: 0;
}
.reset-password-card > div:nth-child(2) > .img-aspect {
    margin-left: 0;
}
.reset-password-card > div:first-child {
    padding-top: 230px;
}
.reset-password-card {
    margin-top: 50px;
    overflow: hidden;
    position: relative;
}